.login {
    margin-top: 2%;
    width: 300px;
}
#cadastrar{
    margin-top: 1%;
}
#cadastrar > a{
    color: white;
    text-decoration: none;
}

/* TABLE */
.table {
    margin: 2% 10% 5% 10%;
    width: 80% !important;
}
.table > h3 {
    text-align: center;
    margin-bottom: 2%;
}

#resulttable {
    width: 100%;
}

/* BUSCA */
.container > h3{
    text-align: center;
    margin: 2% 0% 2% 0%;
}
#campo-busca{
    width: 100%;
    margin: 2% 0% 2% 0%;
}
#button-busca{
    margin: 4% 0% 4% 0%;
}

a {
    color: white;
    text-decoration: none;
}